div.login-container {
  display: table;
  text-align: center;
  border-style: solid;
  border-width: 0px;
  position: fixed;
  height: 150px;
  width: 160px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -80px;
}

.login-form {
  display: table-cell;
  vertical-align: middle;
}

#username, #password {
  margin: 5px 0 5px 0;
}

#login-button {
  margin-top: 5px;
}